VITE_API_KEY=
VITE_API_URL=https://api-trieve.ermis.network
VITE_CHAT_PROJECT_ID=
VITE_E2EE_ATTACHMENT_MULTIPART=false
VITE_E2EE_ATTACHMENT_MULTIPART_CONCURRENCY=3
VITE_E2EE_MEDIA_PLAYBACK_DEBUG=false
VITE_E2EE_MEDIA_STREAMING=true
VITE_END_USER_API_MODE=legacy
VITE_ERMIS_SELF_HOSTED=true
VITE_GOOGLE_CLIENT_ID=
VITE_USS_API_URL=
